@model IEnumerable<TbProduct>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TbProduct> productRelated = ViewBag.productRelated;
    var product = Model.FirstOrDefault();
}

<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="~/assets/images/breadcrumb/bg/1-1-1920x373.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Sản phẩm</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Sản phẩm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area section-space-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-product-img h-100">
                        <div class="swiper-container single-product-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="~/images/AnhCat/@product.Image" class="single-img gallery-popup">
                                        <img class="img-full" src="~/images/AnhCat/@product.Image" alt="Product Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="~/images/AnhCat/@product.Image" class="single-img gallery-popup">
                                        <img class="img-full" src="~/images/AnhCat/@product.Image" alt="Product Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="~/images/AnhCat/@product.Image" class="single-img gallery-popup">
                                        <img class="img-full" src="~/images/AnhCat/@product.Image" alt="Product Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="~/images/AnhCat/@product.Image" class="single-img gallery-popup">
                                        <img class="img-full" src="~/images/AnhCat/@product.Image" alt="Product Image">
                                    </a>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-thumb-with-content row">
                        <div class="col-12 order-lg-1 order-2 pt-10 pt-lg-0">
                            <div class="single-product-content">
                                <h2 class="title">@product.Title</h2>
                                <div class="price-box pb-1">
                                    @if (product.PriceSale == 0)
                                    {
                                        <span class="new-price text-danger">$@product.Price</span>

                                    }
                                    else
                                    {
                                        <span class="new-price text-danger">$@product.PriceSale</span>
                                        <span class="old-price text-primary">$@product.Price</span>
                                    }
                                </div>
                                <div class="rating-box-wrap pb-7">
                                    <div class="rating-box">
                                        <ul>
                                            @for (var i = 0; i < product.Star; i++)
                                            {
                                                <li><i class="pe-7s-star"></i></li>
                                            }
                                        </ul>

                                    </div>
                                    <div class="review-status ps-4">
                                        <a href="javascript:void(0)">( @product.TbProductReviews.Count() Customer Review )</a>
                                    </div>
                                </div>
                                <p class="short-desc mb-6">
                                    @product.Description
                                </p>
                                <ul class="quantity-with-btn pb-7">
                                    <li class="quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" value="1" type="text">
                                        </div>
                                    </li>
                                    <li class="add-to-cart">
                                        <a class="btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" href="cart.html">Add to cart</a>
                                    </li>
                                    <li class="wishlist-btn-wrap">
                                        <a class="btn rounded-0" href="wishlist.html">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="product-category text-matterhorn pb-2">
                                    <span class="title">Categories :</span>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">Natural,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Organic,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Beautiful,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Organic Food</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-category product-tags text-matterhorn pb-4">
                                    <span class="title">Product Tags :</span>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">Organic,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Vegetable,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Fruits</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="social-link align-items-center pb-lg-8">
                                    <span class="title pe-3">Share:</span>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-pinterest-p"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-tumblr"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-dribbble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 order-lg-2 order-1 pt-10 pt-lg-0">
                            <div class="swiper-container single-product-thumbs">
                                <div class="swiper-wrapper">
                                    <a href="javascript:void(0)" class="swiper-slide">
                                        <img class="img-full" src="~/images/AnhCat/@product.Image" alt="Product Thumnail">
                                    </a>
                                    <a href="javascript:void(0)" class="swiper-slide">
                                        <img class="img-full" src="~/images/AnhCat/@product.Image" alt="Product Thumnail">
                                    </a>
                                    <a href="javascript:void(0)" class="swiper-slide">
                                        <img class="img-full" src="~/images/AnhCat/@product.Image" alt="Product Thumnail">
                                    </a>
                                    <a href="javascript:void(0)" class="swiper-slide">
                                        <img class="img-full" src="~/images/AnhCat/@product.Image" alt="Product Thumnail">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-tab-area section-space-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav product-tab-nav product-tab-style-2" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active btn btn-custom-size" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                                Description
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="btn btn-custom-size" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">
                                Reviews
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content product-tab-content">
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <div class="product-description-body">
                                <p class="short-desc mb-0">
                                    @Html.Raw(product.Detail)
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="product-review-body">
                                <h4 class="heading mb-5"> @(product.TbProductReviews?.Count()) Đánh giá</h4>

                                <ul class="user-info-wrap">
                                    @foreach (var item in product.TbProductReviews)
                                    {
                                        <li>
                                            <ul class="user-info">
                                                <li class="user-avatar">
                                                    <img src="~/assets/images/testimonial/user/1.png" alt="User Image">
                                                </li>
                                                <li class="user-comment">
                                                    <div class="rating-box">
                                                        <ul>
                                                            @for (var i = 0; i < item.Star; i++)
                                                            {
                                                                <li><i class="pe-7s-star"></i></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="meta">
                                                        @if(item.CreatedDate != null)
                                                        {<span><strong>@item.Name </strong> @item.CreatedDate.Value.ToString("dd/MM/yyyy")</span>}
                                                        else{
                                                            <strong>@item.Name </strong>
                                                        }
                                                    </div>
                                                    <p class="short-desc mb-0">
                                                        @item.Detail
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                                <div class="feedback-area pt-5">
                                    <h2 class="heading mb-1">Thêm đánh giá</h2>
                                    <p class="short-desc mb-3">
                                        Địa chỉ email của bạn sẽ được ẩn.
                                    </p>
                                    <form style="padding: 0 !important;" class="feedback-form pt-8" asp-action="comment">
                                        <div class="star-rating">
                                            <input type="radio" id="star1" name="_Star" value="1">
                                            <label for="star1"></label>
                                            <input type="radio" id="star2" name="_Star" value="2">
                                            <label for="star2"></label>
                                            <input type="radio" id="star3" name="_Star" value="3">
                                            <label for="star3"></label>
                                            <input type="radio" id="star4" name="_Star" value="4">
                                            <label for="star4"></label>
                                            <input type="radio" id="star5" name="_Star" value="5">
                                            <label for="star5"></label>
                                        </div>
                                        <div class="group-input">
                                            <div class="form-field me-md-6 mb-6 mb-md-0">
                                                <input type="text" name="_Name" placeholder="Tên của bạn*" class="input-field">
                                            </div>
                                            <div class="form-field me-md-6 mb-6 mb-md-0">
                                                <input type="text" name="_Email" placeholder="Địa chỉ Email*" class="input-field">
                                            </div>
                                            <div class="form-field">
                                                <input type="text" name="_Phone" placeholder="Số điện thoại" class="input-field">
                                            </div>
                                        </div>
                                        <div class="form-field mt-6">
                                            <textarea name="_Detail" placeholder="Viết đánh giá" class="textarea-field"></textarea>
                                        </div>

                                        <div class="button-wrap mt-8">
                                            <button asp-action="comment" type="submit" value="submit" class="btn btn-custom-size lg-size btn-secondary btn-primary-hover btn-lg rounded-0">Submit</button>
                                        </div>
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<div class="relate-product-wrapper container">
    <div class="relate-product">
        <div class="d-flex justify-content-between header-re-prod">
            <h2> Sản phẩm tương tự  </h2>
        </div>
        <div class="box-relate-product">
            <div class="row">
                @foreach (var item in productRelated)
                {
                    string sUrl = $"/product/{item.Alias}-{item.ProductId}.html";
                    <div class="col-lg-3 col-sm-6">
                        <div class="product">
                            <div class="img">
                                <img src="~/images/AnhCat/@item.Image" alt="@item.Alias" class="img-fluid">
                            </div>
                            <div class="info">
                                <p class="name"> <a href="@sUrl" title="@item.Alias">@item.Title</a>   </p>
                                <p class="vote">
                                    @for (var i = 0; i < item.Star; i++)
                                    {
                                        <span><i class="fas fa-star"></i></span>
                                    }
                                </p>
                                <p class="desc"> (4 ngăn ,Gỗ lim)</p>

                                <p class="price"> <span>@item.Price</span> VNĐ </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

